.ParticipantsTableRow {
  background: #fff;
  width: 100%;
  height: 72px;

  display: flex;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  border-bottom: 1px solid #EAEAEA;
}

.ParticipantsTableRow__col {
  display: flex;
  align-self: center;
}

.ParticipantsTableRow__col__content {
  flex: 1 1 29%;
}

.ParticipantsTableRow__col__content:first-of-type {
  margin-left: 24px;
}

.ParticipantsTableRow__col__update-delete {
  flex-flow: row;
  margin-right: 16px;
  flex: 1 1 13%;
}

.ParticipantsTableRow__col__input {
  background: #FAFAFA;
  color: #909090;
  height: 40px;
  padding-left: 16px;

  box-sizing: content-box;
  border: 1px solid #EAEAEA;

  font-size: 1rem;
}

.ParticipantsTableRow__col__input__email {
  width: 220px;
}

.ParticipantsTableRow__col__input__number {
  margin-left: 30px;
}

.ParticipantsTableRow__col__icons {
  fill: #909090;
  width: 24px;
  height: 24px;
  margin-right: 24px;
}

.ParticipantsTableRow__col__cancelBtn {
  background: #EDEDED;
  color: #07f;

  height: 40px;
  margin-right: 10px;
  padding: 0 24px;

  border: 0;
  font-size: 16px;
  font-weight: bold;
}

.ParticipantsTableRow__col__saveBtn {
  background: #07f;
  color: #fff;
  height: 40px;
  padding: 0 24px;

  border: 0;
  font-size: 16px;
  font-weight: bold;
}