.mainHeader {
    background: #9EA6B0;
    color: #fff;
}

.mainHeaderWrapper {
    max-width: 912px;
    margin: 0 auto;
    padding: 32px;
    
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.mainHeader__logo {
    display: block;
    height: 32px;
    width: 32px;
    margin-right: 15px;
    background: #fff;
}

.mainHeader__brand {
    font-size: 1.8rem;
    line-height: 2.2rem;
}