.newParticipantsForm {
    background: #fff;
    margin-top: 50px;
    padding: 16px;

    display: flex;
    flex-direction: row;
}

.newParticipantsForm__input {
    background: #FAFAFA;
    color: #909090;
    height: 40px;
    min-width: 90px;
    margin-right: 16px;
    padding-left: 16px;

    flex: 2;
    box-sizing: content-box;
    border: 1px solid #EAEAEA;

    font-size: 1.1rem;
}

.newParticipantsForm__input__email {
    flex: 3;
}

.newParticipantsForm__submit {
    background: #EDEDED;
    color: #757575;
    min-width: 100px;
    padding: 0 16px;
    flex: 1;
    font-weight: bold;
}