.participantsTableHeader {
  background: #fff;
  max-width: 912px;
  height: 48px;
  margin: 10px 0 0 0;
  padding: 0 16px;

  display: flex;
  flex-direction: row;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  border-bottom: 1px solid #EAEAEA;
}

.participantsTableHeader__col {
  align-self: center;
}

.participantsTableHeader__col__name {
  padding: 0 30px 0 8px;
  flex: 1;
  align-self: center;
}

.participantsTableHeader__col__email {
  flex: 1;
}

.participantsTableHeader__col__update-delete {
  margin: 0px 16px;
  padding: 0px 0px 0px 16px;
  flex: 1;

}