.participantsTableWrapper{
  display: flex;
} 

.participantsTableHeader {
  background: #fff;
  width: 100%;
  height: 48px;
  margin: 10px 0 0 0;
  padding: 0 16px;

  display: flex;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  border-bottom: 1px solid #EAEAEA;
}

.participantsTableHeader__col {
  align-self: center;
}

.participantsTableHeader__col__content { 
  flex: 1 1 29%;
}

.participantsTableHeader__col__content:first-of-type {
  margin-left: 10px;
}

.participantsTableHeader__col__editDel {
  flex: 1 1 13%;
}