body {
  background: #FAFAFA;
}

.contentWrapper {
  color: #5C5C5C;
  width: 320px;
  margin: 80px auto;
}

@media only screen and (min-width: 500px) {
  .contentWrapper {
    width: 500px;
    padding: 0 16px;
  }
}

@media only screen and (min-width: 740px) {
  .contentWrapper {
    width: 740px;
  }
}

@media only screen and (min-width: 912px) {
.contentWrapper {
  min-width: 912px;
  }
}